<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- FIXME: Make chart_id dynamic. Create new div for each chart_id -->

<form action="" method="POST">
    <div class="form-check" style="margin: 20px;">
        <p>Selecting an app below will immediately start the metric-collection process, which includes enabling addons if
            require.
            <br/> Please run the following command in your Terminal/Command Prompt
        </p>
        <!-- HACK: Ask in Slack about how to do this via API  -->
        <h5>heroku labs:enable log-runtime-metrics -a yourAppName</h5>
        <h3>Please select an app from the list below:</h3>
        <% for(i of applist.apps) {%>
            <p class="p-3">
                <input class="form-check-input" type="radio" aria-label="Select an app name" name="appId" value="<%= i.id %>" onclick="this.form.submit();"
                    <% if(appId){ if(i.id==appId){ %>
                <%= "checked" %>
                    <% } 
                } %>
                        %> >
                        <label class="form-check-label" style="padding: 5px;">
                            <%= i.name %>
                        </label>
            </p>
            <% } %>
    </div>
</form>

<% 
let appToUse; 
if(appId) { 
    for(thisApp of applist.apps) {
        if(thisApp.id == appId) {
            appToUse = thisApp;
            break;
        }
    }
}
%>
    <% if(appToUse) { %>
        <ul class="list-group"></ul>
        <li class="list-group-item list-group-item-info">Name is
            <%= appToUse.name %>
        </li>
        <li class="list-group-item list-group-item-info">Stack is
            <%= appToUse.stack.name %>
        </li>
        <li class="list-group-item list-group-item-info">Region is
            <%= appToUse.region.name %>
        </li>
        <li class="list-group-item list-group-item-info">Buildpack is
            <%= appToUse.buildpack_provided_description %>
        </li>

        <script type="text/javascript">
            fetch('/librato/<%=applist._id%>', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                    // "Content-Type": "application/x-www-form-urlencoded",
                },
                body: JSON.stringify({
                    appId: '<%=appToUse.id%>'
                })
            })
                .then(response => response.json())
                .then(json => {
                    if (JSON.stringify(json)) {
                        document.getElementById('output').innerHTML = 'Fetching Librato graphs...';
                    } else {
                        document.getElementById('output').innerHTML = 'Something has gone wrong. Unable to get Librato details.';
                    }
                });                    
        </script>
        <% } %>

            <div id="output"></div>

            <script type='text/javascript' src='https://sdk.librato.com/embedding/librato-sdk-v1.2.3-min.js' charset='utf-8' data-librato_email='app100037598@heroku.com'
                data-librato_token='04f8cd86862b2306118862b7dec513e536e78366de07e86a459e40170fa0e442'>
                </script>
            <div class='librato-display-media' data-chart_id='8055783' data-duration='3600' data-height='200' data-width='400' data-source='*'></div>